@model StreamVaultTechnicalAssessment.dtos.content.Content

<input type="hidden" asp-for="Id" />

<div class="mb-3">
    <label asp-for="Title" class="form-label">Title</label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Description" class="form-label">Description</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ReleaseDate" class="form-label">Release Date</label>
    <input asp-for="ReleaseDate" type="date" class="form-control" />
    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="AgeRating" class="form-label">Age Rating</label>
    <input asp-for="AgeRating" class="form-control" />
    <span asp-validation-for="AgeRating" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Genre" class="form-label">Genre</label>
    <input asp-for="Genre" class="form-control" />
    <span asp-validation-for="Genre" class="text-danger"></span>
</div>
